@import '../shared/variables.css';

.content {
    margin-left: var(--nav-width);
    position: relative;
    width: calc(100vw - var(--nav-width));
}

.container {
    box-sizing: border-box;
    padding: 24px var(--container-padding);
}

/* Desctiption ------------------------------------------------------------------------------------------------------------------------*/

#description {
    position: relative;
    background-color: var(--main-dark-blue);
    color: white;
}

.link-underline{
    display: block;
}

.link-underline:after{
    content: url("../../assets/icons/waves/welle4.svg");
    display: block;
    margin-top: -8px;
    margin-left: -8px;
    fill: var(--main-light-blue);;
    stroke: var(--main-light-blue);;
    color: var(--main-light-blue);
    height: 28px;
    width: 50px;
}

.background-wave{
    position: absolute;
    height: 900px;
    z-index: 10;
    top: 100px;
    left: -50px;
}

/* Öffnungszeiten ------------------------------------------------------------------------------------------------------------------------*/

#öffnungszeiten{
    position: relative;
    padding-top: 80px;
    display: flex;
    justify-content: end;
}

#öffnungszeiten .wave{
    position: absolute;
    width: 800px;
    right: 900px;
    top: 100px;
}

#öffnungszeiten .wave-2{
    position: absolute;
    width: 1000px;
    right: 850px;
    top: 400px;
}

.öffnungszeiten-container{
    width: 700px;
    max-width: 100%;
    margin-right: 6%;
    margin-left: 6%;
}
