nav {
    --item-count: 6;
}

.brand-logo {
    position: absolute;
    width: 250px;
    top: 32px;
    right: calc(50% - 125px)
}

.carousel {
    width: calc(100vw - var(--nav));
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    width: 500%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    transition: opacity 0.3s ease-in-out;
    padding: 45px var(--container-padding);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#carousel-1:checked ~ .carousel-inner {
    transform: translateX(0);
}

#carousel-2:checked ~ .carousel-inner {
    transform: translateX(-20%);
}

#carousel-3:checked ~ .carousel-inner {
    transform: translateX(-40%);
}

#carousel-4:checked ~ .carousel-inner {
    transform: translateX(-60%);
}

#carousel-5:checked ~ .carousel-inner {
    transform: translateX(-80%);
}


#carousel-1:checked ~ .carousel-indicators .carousel-indicator-1,
#carousel-2:checked ~ .carousel-indicators .carousel-indicator-2,
#carousel-3:checked ~ .carousel-indicators .carousel-indicator-3,
#carousel-4:checked ~ .carousel-indicators .carousel-indicator-4,
#carousel-5:checked ~ .carousel-indicators .carousel-indicator-5 {
    background-color: #333;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-inputs {
    display: none;
}

.carousel-slide {
    background-size: cover;
}

.slide-1 {
    background-image: url("../../assets/home/slides/slide1.png");
}

.slide-2 {
    background-image: url("../../assets/home/slides/slide2.png");
}

.slide-3 {
    background-image: url("../../assets/home/slides/slide3.png");
}

.slide-4 {
    background-image: url("../../assets/home/slides/slide4.png");
}

.slide-5 {
    background-image: url("../../assets/home/slides/slide5.png");
}

.slide-6 {
    background-image: url("../../assets/home/slides/slide6.png");
}